<!DOCTYPE html>
<html>
<head>
	<title style="color: white; background-color: black "></title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  	.bg-2{
  		background-color: #2F4F4F;
  	}
  	.bg-3 { 
      background-color: #2F4F4F;
      color: #555555;
      width:100%;
           
  }
  	.container-fluid{
  		color: white;
  		padding-top: 100px 
  	}
  	.img-thumbnail{
  		height:400px;
    	padding-top:20px;
  	}
  </style>
</head>
<body style="background-image: url('https://i.imgur.com/ImxnK3O.jpg')">

<nav class="navbar navbar-default" style="padding-top: 30px; padding-bottom: 30px ; background-color: white; color: black; ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand glyphicon glyphicon-bullhorn" href="#" style="font-size: 25px;color:black  "><b>Stocks Feed</b><p style="font-size: 10px; padding-left:25px; ">Best Ideas and Strategies</p></a>
      <p ></p>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">HOME</a></li>
        <li><a href="#"><b><ARTICLE></b></a></li>
        <li><a href="#"><b>BLOG</b></a></li>
        <li><a href="#"><b>ABOUT</b></a></li>
        <li><a href="#"><b>CONTACTS</b></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <h3><i>Modern</i></h3>
  <h1 style="margin-bottom: 80px "><b>Buisness News in Your Pocket</b></h1>
</div>
<!-- <button type="button " style="background-color: pink; padding-left: 50px">READ ARTICLE</button> -->
<button type="button" style="background-color: #FF69B4;  font-size:20px; height: 40px; margin: auto; display:block; padding-left:50px; padding-right: 50px "><a href="https://ld-wp.template-help.com/wordpress_57865/about/" style="color:white; text-decoration: none; ">READ ARTICLE</a></button>
<p style="text-align: center; color:white; padding-bottom: 250px "><em>Reading time: 6 min</em></p>

<div class="container-fluid bg-3 "> 
  <div class="row text-center" style="color:black; padding-left: 240px; padding-right: 250px; width:100%">

    <div class="col-sm-4 img-thumbnail">      
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTli1IGazSmqGs112CLgSPDsb3xjgF0iP598O0V5nea_y6jckx4CA"  alt="Image" style="width:100%">
      <p><b><em>The Objective of our group are to enage efficiently</b></em></p>
      <P style="text-align:justify">Our subsricption works in a revoltionary scheme that would satisfy anyone. You pay only when you actually use the public by Stocks Feed.</P>
      <p style="color: pink; float: left;">Admin<span style="padding-left: 20px; color: black;"><i>November 20,2015</i></span></p>
    </div>
    <div class="col-sm-4 img-thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE8U2ISWyjOl77nO9uGmBcRPQcRRtbDfzHSTzYZMmm3zbEaEuL"  alt="Image" style="width:100%" >
      <p><b><em>I have not failed. I've just found 10,000 ways that won't work.</em> </b></p>
      <p style="text-align:justify">A story of a man who spent years fighting to launch the start-up of his dream that made him a billonare. He offers.</p>
      <p style="color: pink; float: left;">Admin<span style="padding-left: 20px; color: black;"><i>November 20,2015</i></span></p>
    </div>
    <div class="col-sm-4 img-thumbnail">       
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTejtxG3dYvzCgC_JUf7wOxNgwJUv21ng2z2szYOsL2mIp9csnvGQ"  alt="Image" style="width:100%">
      <p><b><em>I Love deadlines. I Love the noise they make as they go by.</em></b></p>
      <p style="text-align:justify">For Years, experts of UIL Comapany were experimenting with a single goal, to find out how exactly hard deadlines affect employess... Thoushands of</p>
      <p style="color: pink; float: left;">Admin<span style="padding-left: 20px; color: black;"><i>November 20,2015</i></span></p>
    </div>
  </div>
</div>
<div class="container-fluid bg-2 text-center"> 
	<h1>WHY STOCKS FEED IS THE BEST CHOICE ?</h1>
  <br>
  <div style="border-style: solid; border-color: #2F4F4F; background-color:Gray; border-radius: 300px;">
  <div class="row" style="padding-left: 300px;padding-right: 300px;">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-pencil"></span>
      <h4 style="color: pink;"><i>Latest News</i></h4>
      <p style="text-align: justify;">You will find all latest news from finacial world in our journal available for everyone</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-hand-up"></span>
      <h4 style="color: pink"><i>App Experience</i></h4>
      <p style="text-align: justify;">We spent months working on our mobile app and making it better so now we can say with all responsibilty.</p>      
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate"></span>
      <h4 style="color: pink"><i>Multiple Awards</i></h4>
      <p style="text-align: justify;">For years of publishing. we have manged to win a big number of presintg awards.</p>
    </div>
  </div>
  <br><br>
  <div class="row" style="padding-left: 300px;padding-right: 300px;">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-eye-open"></span>
      <h4 style="color: pink"><i>Always First</i></h4>
      <p style="text-align: justify;">We are always in touch and aware of the latest trends from the finacial world.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe"></span>
      <h4 style="color: pink"><i>Everywhere</i></h4>
      <p style="text-align: justify;">We have subsidiaries all around the world that provide you with valuable information.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-fire"></span>
      <h4 style="color: pink"><i>The Brightest</i></h4>
      <p style="text-align: justify;">Our team consist of young and really smart human being able to cover events and happenings.</p>
    </div>
  </div>
  </div>
</div>

<!-- 
    <div class="col-sm-4">  -->
</body>
