<!DOCTYPE html>
<html>
<head>
	<title style="color:black;">Business Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body {
			background-image: url('https://i.imgur.com/ImxnK3O.jpg');
			background-repeat: no-repeat;
			height: 100px;
			background-size: cover;
		}

	</style>
</head>
<!-- <body style="background-image: url("https://www.w3schools.com/css/img_5terre.jpg");"> -->
<body >	
<header style="background-color: white;  height:100px;">
  <!-- <h2 style= " color:black; padding-left: 100px;"><strong>Stocks Feed</strong></h2> -->
  <div>
  	<p style="color: white "> scjkb</p>
  </div>
  <p><span style=" padding-left: 100px;"></span><a href ="https://ld-wp.template-help.com/wordpress_57865/" style="color:black; font-size:30px; text-decoration: none;">Stocks Feed</a><span style=" padding-left: 520px"><a href ="https://ld-wp.template-help.com/wordpress_57865/" style="color: grey; text-decoration: none">HOME</a></span> <span style="padding-left:40px; color:black">ARTICLES</span> <span style="padding-left:40px; color:black">BLOG</span> <span style="padding-left: 40px; color:black">ABOUT<span style="padding-left:40px; color:black">CONTACTS</span></p>
  <p style="padding-left:100px; margin-top:-21px"><tt><sup> Best ideas and strategies</tt></sup></p>
</header>
<nav>
<p style= "text-align:center; color:white; font-size: 50px; margin-top: 100px"><i>Modern</i></p>
<p style="color: white; text-align:center; font-size: 80px;margin-top:-50px  ">Buisness News in Your Pocket</p>
<p style="text-align: center; color: white; margin-top:-80px; font-size:40px; margin-bottom: 150px  ">Buisness News in Your Pocket</p>
</nav>
<button type="button" style="background-color: #FF69B4; text-align: center; font-size:20px; height: 50px; margin: auto; display:block; padding-left:50px; padding-right: 50px "><a href="https://ld-wp.template-help.com/wordpress_57865/about/" style="color:white; text-decoration: none; ">READ ARTICLE</a></button>
<p style="text-align: center; color:white "><em>Reading time: 6 min</em></p>
<h1 style="color:white; text-align: center; font-size: 40px; margin-top: 350px ">WHY STOCKS FEED IS THE BEST CHOICE ?</h1>
<!-- <table style="width: 100%; border: 1px solid red; background-color:#000d1a; color: white;margin-top: -30px ">
	<tr>
		<td><i>Latest News</i></td>
		<td><i>App Experience</i></td>
		<td><i>Multiple Awards</i></td>
	</tr>
</table>
</body> -->
</html>